<div class="article-main">
    
        <!-- BREADCRUMB -->
        <div class="breadcrumb-container">
            <ul class="breadcrumb">
    
                <li class="breadcrumb-item">
                    <a href="{{ blog.url }}">{{ blog.title }}</a>
                </li>
    
                <li class="breadcrumb-item">
                    <a>{{ article.title }}</a>
                </li>
                
            </ul>
        </div>
        
        <article class="content" role="article" itemscope itemtype="http://schema.org/Article">
    
            {% comment %} TITLE + AUTHOR + TAGS {% endcomment %}
            <header div class="article-header" role="banner">
                <h1>{{ article.title }}</h1>
                <p>Posted by {{ article.author }} on {{ article.created_at | date: "%b %-d, %Y" }}</p>
                
                {% if article.tags.size > 0 %}
                <p>Categories: 
                    {% for tag in article.tags %}
                        <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
                    {% endfor %}
                </p>
                {% endif %}
            </header>
    
            <!-- ARTICLE CONTENT -->
            <div class="article-content" itemprop="articleBody">
                {{ article.content }}
            </div>
    
            <!-- NAVIGATION + SOCIAL -->
            <div class="social-nav">
                {% if settings.social_sharing_blog %}
                    {% include 'social-sharing', share_title: article.title, share_permalink: article.url, share_image: article.image %}
                {% endif %}
            </div>
    
    
            <!-- DISPLAY COMMENTS SECTION -->
    
            {%- assign number_of_comments = article.comments_count -%}
    
            {% if comment and comment.status != 'published' %}
                {% assign number_of_comments = article.comments_count | plus: 1 %}
            {% endif %}
            
            <div class="comments-section">
                {% if blog.comments_enabled? %}
                    <h4>{{ 'blogs.comments.with_count' | t: count: number_of_comments }}</h4>
    
                    {% paginate article.comments by 5 %}
    
                    <div id="comments">
                    {% if comment and comment.status and paginate.current_page == 1 %}
                        <p class="form-success">
                        {% if blog.moderated? and comment.status != 'published' %}
                            {{ 'blogs.comments.success_moderated' | t }}
                        {% else %}
                            {{ 'blogs.comments.success' | t }}
                        {% endif %}
                        </p>
                    {% endif %}
    
                    {% if number_of_comments > 0 %}
                        <ul class="comments-list">
                        {% comment %}
                            Display comment from URL parameters if it is waiting moderation
                        {% endcomment %}
                        {% if comment and comment.status != 'published' %}
                            <li id="{{ comment.id }}">
                            <div class="rte comment-content">
                                {{ comment.content }}
                            </div>
                            {% capture date %}{{ comment.created_at | time_tag: format: 'month_day_year' }}{% endcapture %}
                            <p class="author">{{ 'blogs.article.comment_meta_html' | t: author: comment.author, date: date }}</p>
                            </li>
                        {% endif %}
    
                        {% for comment in article.comments %}
                            <li id="{{ comment.id }}">
                                <div class="rte comment-content">
                                    {{ comment.content }}
                                </div>
                                {% capture date %}{{ comment.created_at | time_tag: format: 'month_day_year' }}{% endcapture %}
                                <p class="author">{{ 'blogs.article.comment_meta_html' | t: author: comment.author, date: date }}</p>
                                <div class="divider"></div>
                            </li>
    
                        {% endfor %}
                        </ul>
    
                        {% if paginate.pages > 1 %}
                        {% include 'pagination' %}
                        {% endif %}
                    {% endif %}
                    </div>
    
                    {% endpaginate %}
    
                    {% form 'new_comment', article %}
                    <h3>{{ 'blogs.comments.title' | t }}</h3>
    
                    {{ form.errors | default_errors }}
                    <div class="form-group">
                        <label for="CommentAuthor" class="form-label">
                            {{ 'blogs.comments.name' | t }}
                        </label>
                        <input type="text"
                            name="comment[author]"
                            id="CommentAuthor"
                            class="{% if form.errors contains 'author' %}is-error{% endif %} form-input"
                            placeholder="{{ 'blogs.comments.name' | t }}"
                            value="{{ form.author }}"
                            autocapitalize="words">
                    </div>
                      
                    <div class="form-group">
                        <label for="CommentEmail" class="form-label">
                            {{ 'blogs.comments.email' | t }}
                        </label>
                        <input type="email"
                            name="comment[email]"
                            id="CommentEmail"
                            class="{% if form.errors contains 'email' %}is-error{% endif %} form-input"
                            placeholder="{{ 'blogs.comments.email' | t }}"
                            value="{{ form.email }}"
                            spellcheck="false"
                            autocomplete="off"
                            autocapitalize="off">
                    </div>
    
                    <div class="form-group">
                        <label for="CommentBody" class="form-label">
                            {{ 'blogs.comments.message' | t }}
                        </label>
                        <textarea
                            name="comment[body]"
                            id="CommentBody"
                            class="{% if form.errors contains 'body' %}is-error{% endif %} form-input"
                            placeholder="{{ 'blogs.comments.message' | t }}"
                            rows="3">
                            {{- form.body -}}
                        </textarea>
                    </div>
                    
                    {% if blog.moderated? %}
                        <p>{{ 'blogs.comments.moderated' | t }}</p>
                    {% endif %}
    
                    <div class="form-group">
                        <input type="submit" class="btn input-group-btn" value="{{ 'blogs.comments.post' | t }}">
                    </div>
                    {% endform %}
    
                {% endif %}
            </div>
    
            <!-- COMMENT SUBMISSION FORM -->
    
        </article>
    
        <!-- SIDEBAR -->
        <div class="sidebar">
            <div class="sidebar-section featured-articles hide-xl">
                <h5>Featured Articles</h5>
                <div class="featured-list">
                    {% assign article = articles['news/test-post-2'] %}
                    {% for i in (1..3) %}
                        
                        <div class="featured-article">
                            <a href="{{ article.url }}">
                                <p class="title">
                                    {{ article.title }}
                                </p>
                            </a>
                            <p class="timestamp">Posted {{ article.created_at | date: "%b %-d, %Y" }}</p>
                        </div>
    
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>