<div class="awards-bar" data-section-id="{{ section.id }}">
    <div class="content">
        <div class="award">
            <img src="{{ 'demo-award-maker.png' | asset_url }}"/>
        </div>
    
        <div class="award">
            <img src="{{ 'demo-award-drtoy-10.png' | asset_url }}"/>
        </div>
    
        <div class="award">
            <img src="{{ 'demo-award-drtoy-100.png' | asset_url }}"/>
        </div>
    
        <div class="award">
            <img src="{{ 'demo-award-nappa.png' | asset_url }}"/>
        </div>
    
        <div class="award">
            <img src="{{ 'demo-award-parents-choice.png' | asset_url }}"/>
        </div>
    </div>
    
    
</div>