<div class="awards-bar" data-section-id="{{ section.id }}">
    <div class="content">
        <div class="award">
            <img src="{{ 'award-maker-5.png' | asset_url }}"/>
        </div>
    
        <div class="award">
            <img src="{{ 'award-drtoy-1.png' | asset_url }}"/>
        </div>
    
        <div class="award">
            <img src="{{ 'award-drtoy-2.png' | asset_url }}"/>
        </div>
    
        <div class="award">
            <img src="{{ 'award-nappa-3.png' | asset_url }}"/>
        </div>
    
        <div class="award">
            <img src="{{ 'award-parentsc-4.png' | asset_url }}"/>
        </div>

        <div class="award">
            <img src="{{ 'award-totyfinalist-6.png' | asset_url }}"/>
        </div>
    </div>
    
    
</div>