<div class="awards-bar" data-section-id="{{ section.id }}">
    <div class="content">
        <div class="header">
            <h4>The Piper Computer Kit is an award-winning,</br> standards-aligned STEAM experience.</h4>
        </div>

        <div class="award">
            <img src="{{ 'stem-org-authenticated.png' | asset_img_url: '144x' }}"/>
        </div>
        
        <div class="award">
            <img src="{{ 'award-iste-bos.png' | asset_img_url: '144x' }}"/>
        </div>
    
        <div class="award">
            <img src="{{ 'award-purdue.png' | asset_img_url: '144x' }}"/>
        </div>

        <div class="award">
            <img src="{{ 'award-edtech-cool-tool-finalist.png' | asset_img_url: '144x' }}"/>
        </div>

    </div>
</div>