<div class="awards-bar" data-section-id="{{ section.id }}">
    <div class="content">
        <div class="header">
            <h4>The Piper Computer Kit</br> is an award-winning STEM experience.</h4>
        </div>
        <div class="award">
            <img src="{{ 'award-iste-bos.png' | asset_img_url: '128x' }}"/>
        </div>
    
        <div class="award">
            <img src="{{ 'award-purdue.png' | asset_img_url: '128x' }}"/>
        </div>

        <div class="award">
            <img src="{{ 'award-drtoy-1.png' | asset_img_url: '128x' }}"/>
        </div>
    
        <div class="award">
            <img src="{{ 'award-drtoy-2.png' | asset_img_url: '128x' }}"/>
        </div>
    
        <div class="award">
            <img src="{{ 'award-parentsc-4.png' | asset_img_url: '128x' }}"/>
        </div>

        <div class="award">
            <img src="{{ 'award-totyfinalist-6.png' | asset_img_url: '128x' }}"/>
        </div>
    </div>
    
    
</div>