<div class="banner-link {{ block.settings.banner-link-theme }} {{ block.settings.banner-link-img-style }}">
    <div class="content {{ block.settings.banner-link-direction }}">

        <div class="copy">
            <h1>{{ block.settings.banner-link-title }}</h1>
            <h3>{{ block.settings.banner-link-subtitle }}</h3>
            <p>{{ block.settings.banner-link-desc }}</p>

            {% if block.settings.banner-link-btn-text != blank %}
                <a href="{{ block.settings.banner-link-btn-link }}">
                    <button class="btn {{ block.settings.banner-link-button-style }} btn-lg">{{ block.settings.banner-link-btn-text }}</button>
                </a>
            {% endif %}
        </div>

        <div class="image">
            <img src="{{ block.settings.banner-link-img | img_url: '400x' }}" alt="">
        </div>

    </div>
</div>