<div class="banner-link {{ block.settings.banner-link-theme }} {{ block.settings.banner-link-img-style }}">
    <div class="content {{ block.settings.banner-link-direction }}">

        <div class="copy">
            <h2>{{ block.settings.banner-link-title }}</h2>
            <h3>{{ block.settings.banner-link-subtitle }}</h3>
            <p>{{ block.settings.banner-link-desc }}</p>

            {% if block.settings.banner-link-btn-text != blank %}
                <a href="{{ block.settings.banner-link-btn-link }}">
                    <button class="btn {{ block.settings.banner-link-button-style }} btn-lg">{{ block.settings.banner-link-btn-text }}</button>
                </a>
            {% endif %}
        </div>

        <div class="image">
            <img src="{{ block.settings.banner-link-img | img_url: '500x' }}" alt="">
            {% if block.settings.banner-link-is-video %}
                <div class="action-btn"
                    data-modal-action="openVideo"
                    data-embed-code='{{ block.settings.banner-link-embed-code }}'
                    alt="">
                    {% include 'icon-playvideo' %}
                </div>
            {% endif %}
        </div>

    </div>

    {% if block.settings.banner-link-is-video %}
        <div class="modal" id="videoModal">
            <a href="#close-modal" class="modal-overlay" aria-label="Close"></a>
            <div class="modal-container">
                
                <div class="modal-header">
                    <a href="#close-modal" class="btn btn-clear float-right" aria-label="Close"></a>
                </div>
                
                <div class="modal-body">
                    <div class="modal-content">
                        <!-- Video gets inserted here -->
                    </div>    
                </div>
                
                <div class="modal-footer">
                </div>
                
            </div>
        </div>
    {% endif %}

</div>