<div class="banner-contact-us"
    {% if block.settings.banner-contact-us-background %}
        style="background-image: url({{ block.settings.banner-contact-us-background | img_url: '1200x' }});"
    {% endif %}
>
    <div class="content">
        <div class="image">
            <img src="{{ block.settings.banner-contact-us-img | img_url: '350x' }}" alt="">
        </div>

        <div class="info">
            <h1 class="{{ block.settings.banner-contact-us-color }}">{{ block.settings.banner-contact-us-title }}</h1>
            
            {% if block.settings.banner-contact-us-email %}
                <h4>{% include 'icon-email' %} {{ block.settings.banner-contact-us-email}}</h4>
            {% endif %}
            
            
            {% if block.settings.banner-contact-us-phone != blank %}
                <h4>{% include 'icon-fax' %} {{ block.settings.banner-contact-us-phone}}</h4>
            {% endif %}
        </div>
    </div>
</div>