<div class="card-cta">
    <div class="content">

        {% if block.settings.cta-title != '' %}
        <h2>{{ block.settings.cta-title }}</h2>
        <div class="divider"></div>
        {% endif %}

        
        {% assign item = all_products[ block.settings.cta-product ] %}

        {% assign variant_id = block.settings.cta-variant | plus: 0 %}
        {% assign variant = item.variants[ variant_id ] %}


        <div class="product">
            <div class="info">
                <h3 class="title"><a href="{{ item.url }}">{{ item.title }}</a></h3>
                <h3 class="price">
                    {% if block.settings.cta-compare %}
                        <strike>{{ item.compare_at_price | money }}</strike>
                    {% endif %}
                    {{ item.price | money | prepend: ' '}}</h3>
                <p>{{ block.settings.cta-desc }}</p>

                <form method="post" action="/cart/add">
                    <input type="hidden" name="id" value="{{ variant.id }}" />
                    <input type="submit" value="{{ block.settings.cta-button }}" class="btn btn-primary btn-lg" {% unless item.available %}disabled="true"{% endunless %}/>
                </form>
            </div>


            <a href="{{ item.url }}" class="image">
                <img src="{{ item | img_url: '500x' }}" alt="">
            </a>

        </div>
    </div>
</div>

{% assign item = nil %}
{% assign variant = nil %}
{% assign variant_id = nil %}