<div class="cart-list">

{% if cart.item_count > 0 %}
    
    <form action="/cart" method="post" novalidate>

        {% comment %} CART LISTING {% endcomment %}
        <div class="list-container">
            {% comment %} LINE ITEM HEADERS {% endcomment %}
            <div class="list-header">
                <h2>Shopping cart</h2>
                <div class="cart-headers">
                    <span class="cart-header-spacer"></span>
                    <span class="cart-header">Price</span>
                    <span class="cart-header">Quantity</span>
                </div>
            </div>
            {% comment %} END LINE ITEM HEADERS {% endcomment %}


            {% comment %} LINE ITEM TEMPLATE {% endcomment %}
            {% for item in cart.items %}
                <div class="line-item">
                    <div class="item-image">
                        {% if item.image != blank %}
                        <a href="{{ item.url | within: collections.all }}">
                            {{ item | img_url: '240x240' | img_tag: item.title }}
                        </a>
                        {% endif %}
                        
                    </div>
                    
                    <div class="item-info">
                        <div class="titles">
                            <a class="item-title" href="{{ item.url }}">{{ item.product.title }}</a>
                            <p class="variant-title">
                                {% unless item.product.has_only_default_variant %}
                                {{ item.variant.title }}
                                {% endunless %}
                            </p>
                        </div>
                        <p class="price">{{ item.price | money }}</p>

                    </div>
                    
                    <div class="item-quantity">
                        {% comment %} Quantity selector {% endcomment %}
                        <div class="form-group quantity-select">
                            {% if item.quantity < 10 %}
                                <select class="quantity-input form-select" name="updates[]" id="updates_{{ item.key }}">
                                    {% for i in (1..10) %}
                                    <option value="{{ i }}" {% if item.quantity == i %} selected="selected" {% endif %}>
                                        {% if forloop.last == true %}
                                        {{ i }}+
                                        {% else %}
                                        {{ i }}
                                        {% endif %}
                                    </option>
                                    {% endfor %}
                                </select>
                            {% else %}    
                                <input class="quantity-input form-input" type="text" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}">    
                            {% endif %}
                        </div>
                    </div>
                    
                    <div class="item-remove">
                        {% comment %} Remove item button {% endcomment %}
                        <div class="remove-item">
                            <a class="btn red-outline" href="/cart/change?line={{ forloop.index }}&amp;quantity=0">
                                <small>{{ 'cart.general.remove' | t }}</small>
                            </a>
                        </div>
                    </div>

                    <div class="divider"></div>
                </div>
            {% endfor %}
            {% comment %} END LINE ITEM TEMPLATE {% endcomment %}
                


            

        </div>
        {% comment %} END CART LISTING {% endcomment %}


        {% comment %} CART SUBTOTAL {% endcomment %}
            <p class="cart-subtotal">
                Subtotal: {{ cart.total_price | money }}
            </p>
        {% comment %} ENDCART SUBTOTAL {% endcomment %}
        
        {% if settings.cart_notes_enable %}
        <label for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
        <textarea name="note" id="CartSpecialInstructions">{{ cart.note }}</textarea>
        {% endif %}
        
        {% if cart.total_discounts > 0 %}
        <p class="note">{{ 'cart.general.savings' | t }} {{ cart.total_discounts | money }}</p>
        {% endif %}
        <p class="note">{{ 'cart.general.shipping_at_checkout' | t }}</p>
        <input type="submit" name="update" class="btn" id="update" value="{{ 'cart.general.update' | t }}">
        <input type="submit" name="checkout" class="btn btn-lg green" id="checkout" value="{{ 'cart.general.checkout' | t }}">
    </form>
{% else %}        
    {% comment %}
    Cart empty state
    {% endcomment %}
    <div class="supports-cookies">
        <p>{{ 'cart.general.empty' | t }}</p>
        <p>{{ 'cart.general.continue_browsing_html' | t }}</p>
    </div>
    
    {% comment %}
    Cart no cookies state
    ---------------------
    Browser cookies are required to use the cart. If cookies aren't enabled in the
    browser a message is displayed prompting the user to enable them.
    {% endcomment %}
    <div class="supports-no-cookies">
        <p>{{ 'cart.general.cookies_required' | t }}</p>
    </div>
{% endif %}
    
    <script src="{{ 'cart-list.js' | asset_url }}" defer="defer"></script>
</div>