<div class="eng-ts ts-end" id="{{ block.settings.eng-ts-end-anchor | remove: '#'}}">
    <div class="content">

        <div class="img">
            <img src="{{ block.settings.eng-ts-end-img | img_url: '200x' }}">
        </div>

        <div class="copy">
            <h2>{{ block.settings.eng-ts-end-header }}</h2>
            <h5 id="ts-result"></h5>
            <p>{{ block.settings.eng-ts-end-content }}</p>
        </div>

            
        <div class="form">
            <form class="form-group" action="https://rgdwujn6mb.execute-api.us-west-2.amazonaws.com/Shopify/mailchimp">            
                <input type="email" class="form-input input-lg" placeholder="Enter email address" required />

                <input id="ts-device" type="hidden" name="device" value="{{ block.settings.eng-ts-end-device }}">
                <label class="form-label"></label>
                <button type="submit" 
                        class="form-input btn btn-lg btn-primary">
                        SUBMIT
                    </button>
            </form>
        </div>

    </div>   
</div>