<div class="eng-ts ts-link" id="{{ block.settings.eng-ts-link-anchor | remove: '#'}}">
        <div class="content">
            
            <div class="copy">
                <p>{{ block.settings.eng-ts-link-content }}</p>
            </div>

            <div class="img">
                <img src="{{ block.settings.eng-ts-link-img | img_url: '200x' }}">
            </div>
            
            <a href="{{ block.settings.eng-ts-link-btn-link }}">
                <button class="btn btn-lg btn-primary">{{ block.settings.eng-ts-link-btn-copy }}</button>
            </a>

            </div>
        </div>   
    </div>