<div class="expandable-section">
    <h2>{{ block.settings.expand-title }}</h2>

    {% assign sections = block.settings.expand-sections | split: '/'%}

    {% for item in sections %}
        {% assign section-index = 'expand-section-' | append: forloop.index %}
        <div class="content">
            <div class="accordion" >
                <input type="checkbox" id="{{ block.id }}-accordion-{{ forloop.index }}" name="accordion-checkbox" hidden>
                <label class="accordion-header" for="{{ block.id }}-accordion-{{ forloop.index }}">
                    {{ item }}
                    <div class="icon">
                        {% include 'icon-expand' %}
                    </div>
                    <!-- <img src="{{ 'expand-icon.svg' | asset_url }}" class="icon"></img> -->
                </label>
                <div class="accordion-body">
                    <!-- Accordions content -->
                    <p>{{ block.settings[section-index] }}</p>
                </div>
            </div>
        </div>    
    {% endfor %}
    
    
</div>