<div class="features-small" id="section-{{ block.settings.features-small-anchor }}">
    <h1 class="{{ block.settings.features-small-header-color }}">{{ block.settings.features-small-title }}</h1>
    <div class="content">

        {% for i in (1..3) %}
            {% assign feature-name = "features-small-subheader-" | append: forloop.index %}
            {% assign feature-img = "features-small-img-" | append: forloop.index %}
            {% assign feature-desc = "features-small-desc-" | append: forloop.index %}

            <div class="feature">
                <h5>{{ block.settings[feature-name] }}</h5>
                <div class="image">
                    <img src="{{ block.settings[feature-img] | img_url: '400x' }}" />
                </div>
                <div class="description">{{ block.settings[feature-desc] }}</div>  
            </div>    
        {% endfor %}

    </div>
</div>

