<div class="features-large" id="section-{{ block.settings.features-large-anchor }}">
    <h1>{{ block.settings.features_large_title }}</h1>
    <div class="feature">
        <div class="content">
            <h2>PiperStory</h2>
            <p>{{ block.settings.features_large_desc_1 }}</p>
            <a href="#">
                <button class="btn btn-lg">Learn More</button>
            </a>
        </div>

        <div class="image" style="background: center no-repeat url({{ block.settings.features_large_img_1 | img_url: '700x' }}); background-size: cover; ">
            <img class="decoration" src="{{ block.settings.features_large_decoration_1 | img_url: '200x' }}" alt="">
        </div>
    </div>

    <div class="feature">
        <div class="content">
            <h2>PiperStory</h2>
            <p>{{ block.settings.features_large_desc_2 }}</p>
            <a href="#">
                <button class="btn btn-lg">Learn More</button>
            </a>
        </div>

        <div class="image" style="background: center no-repeat url({{ block.settings.features_large_img_2 | img_url: '700x' }}); background-size: cover; ">
            <img class="decoration" src="{{ block.settings.features_large_decoration_2 | img_url: '200x' }}" alt="">
        </div>
    </div>

    <div class="feature">
        <div class="content">
            <h2>PiperStory</h2>
            <p>{{ block.settings.features_large_desc_3 }}</p>
            <a href="#">
                <button class="btn btn-lg">Learn More</button>
            </a>
        </div>

        <div class="image" style="background: center no-repeat url({{ block.settings.features_large_img_3 | img_url: '700x' }}); background-size: cover; ">
            <img class="decoration" src="{{ block.settings.features_large_decoration_3 | img_url: '200x' }}" alt="">
        </div>
    </div>

</div>