<div class="homepage-hero-main"
    {% if block.settings.homepage-hero-main-background %}
    style="background: center no-repeat url({{ block.settings.homepage-hero-main-background | img_url: '900x', format: 'pjpg' }}); background-size: cover;"
    {% endif %}
    >

    {% comment %} Announcement Banner {% endcomment %}
    {% if block.settings.homepage-hero-show-announcement %}

        <div class="announcement-container">
            <div class="announcement">
                <a href="{{ block.settings.homepage-hero-announcement-link }}">
                
                    {% if block.settings.homepage-hero-announcement-icon %}
                        <img class="leading" src="{{ block.settings.homepage-hero-announcement-icon | img_url: 'x40' }}" />
                    {% endif %}

                    {{ block.settings.homepage-hero-announcement-content }}

                    {% if block.settings.homepage-hero-announcement-arrow %}
                        <img class="trailing" src="{{ block.settings.homepage-hero-announcement-arrow | img_url: 'x40' }}" />
                    {% endif %}
                </a>
            </div>
        </div>

    {% endif %}


    <div class="hero-overlay {{ block.settings.homepage-hero-main-color }}">
        <div class="hero-content">
            
            <div class="page-content">
                {% comment %} Header {% endcomment %}
                <h2>{{ block.settings.homepage-hero-main-title }}</h2>
    
                {% comment %} Description {% endcomment %}
                <p class="desc">{{ block.settings.homepage-hero-main-description }}</p>
    
                {% comment %} Call to Action {% endcomment %}
                <div class="cta">
                    <a href="{{ block.settings.homepage-hero-main-button-link }}">
                        <button class="btn btn-lg green">{{ block.settings.homepage-hero-main-button-text }}</button>
                    </a>
                </div>
                
    
            </div>

            
            <div class="hero-image">
                {% if  block.settings.homepage-hero-main-img %}
                <img src="{{ block.settings.homepage-hero-main-img | img_url: '550x' }}" alt="">
                {% endif %}
            </div>
            
    
            
        </div>
    </div>
</div>