<div class="page-hero-main"
    {% if block.settings.page-hero-background %}
        {% if block.settings.page-hero-main-compress %}
            style="background-image: url({{ block.settings.page-hero-background | img_url: '1200x', format: 'pjpg' }});"
        {% else %}
            style="background-image: url({{ block.settings.page-hero-background | img_url: '1200x' }});"
        {% endif %}
        
    {% endif %}
>
    
    {% comment %} Subnav {% endcomment %}
    {% if block.settings.page-nav-links != blank %}
        <div class="subnav-container">
            <div class="page-hero-nav">
                {% assign page_nav_links = block.settings.page-nav-links | split: ', ' %}
                {% for link in page_nav_links %}
                    <a href="#section-{{ forloop.index }}" class="link">
                        {{ link }}
                    </a>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    


    <div class="hero-overlay">
        <div class="hero-content">
            
            {% if block.settings.page-hero-fulltext %}
                <div class="page-content fulltext">
            {% else %}
                <div class="page-content">
            {% endif %}
                {% comment %} Header {% endcomment %}
                <h1>{{ block.settings.page-hero-title }}</h1>
    
                {% comment %} Description {% endcomment %}
                <p class="desc">{{ block.settings.page-hero-description }}</p>
    
                {% comment %} Call to Action {% endcomment %}
                {% if block.settings.page-hero-button-text != blank %}
                    <div class="cta">
                        <a href="{{ block.settings.page-hero-button-link }}">
                            <button class="btn btn-lg orange">{{ block.settings.page-hero-button-text }}</button>
                        </a>
                    </div>
                {% endif %}
                
    
            </div>

            {% unless block.settings.page-hero-fulltext %}
            <div class="hero-image">
                {% if block.settings.page-hero-image %}
                <img src="{{ block.settings.page-hero-image | img_url: '500x' }}" alt="">
                {% endif %}
            </div>
            {% endunless %}
    
            
        </div>
    </div>
</div>