<div class="page-hero-about" 

    {% if block.settings.page-hero-about-background %}
        style="background: center no-repeat url({{ block.settings.page-hero-about-background | img_url: '900x', format: 'pjpg' }}); background-size: cover;"
    {% endif %}
    
    >

    <div class="hero-overlay">
        <div class="hero-content">
            
            <div class="page-content">

                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{{ page.url }}">{{ page.title }}</a>
                    </li>
                </ul>

                {% comment %} Header {% endcomment %}
                <h1>{{ page.title }}</h1>

            </div>
            
        </div>
    </div>


    {% comment %} Subnav {% endcomment %}
    <div class="subnav-container">
        <div class="page-hero-nav">
            {% assign page-hero-about-nav-links = block.settings.page-hero-about-nav-links | split: ', ' %}
            {% for link in page-hero-about-nav-links %}
                <a href="#{{ link | handleize }}" class="link">
                    {{ link }}
                </a>
            {% endfor %}
        </div>
    </div>

</div>