<div class="page-hero-legal" 
    {% if block.settings.legal-hero-background %}
        style="background-image: url({{ block.settings.legal-hero-background | img_url: '1200x', format: 'pjpg' }});"
    {% endif %}
>
    <div class="hero-overlay">
        <div class="hero-content">
            <div class="page-content">

                {% comment %} Breadcrumb {% endcomment %}
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{{ page.url }}">{{ page.title }}</a>
                    </li>
                </ul>
                
                {% comment %} Header {% endcomment %}
                <h1>{{ page.title }}</h1>            
            </div>
            
        </div>
    </div>


    {% comment %} Subnav {% endcomment %}
    <div class="subnav-container">
        <div class="page-hero-nav">
            {% assign nav-linklist = block.settings.legal-hero-nav-links %}
            {% assign list = linklists[nav-linklist] %}
            {% for link in list.links %}
                <a href="{{ link.url }}" class="link">
                    {{ link.title }}
                </a>
            {% endfor %}
        </div>
    </div>

</div>