<ul class="pagination">
	
	{% if paginate.previous.is_link %}
		<li class="page-item">
			<a href="{{ paginate.previous.url }}">{{ paginate.previous.title }}</a>
		</li>
	{% endif %}


	{% for part in paginate.parts %}
		{% if part.is_link %}
			<li class="page-item">
				{{ part.title | link_to: part.url}}
			</li>

		{% else %}
			<li class="page-item">
				<a><strong>{{ part.title }}</strong></a>
			</li>

		{% endif %}
	{% endfor %}

	{% if paginate.next.is_link %}
		<li class="page-item">
			<a href="{{ paginate.next.url }}">{{ paginate.next.title }}</a>
		</li>
  	{% endif %}
</ul>
