<div class="piper-hero-main" 
    {% if block.settings.piper-hero-main-background %}
        style="background-image: url({{ block.settings.piper-hero-main-background | img_url: '1200x', format: 'pjpg' }});"
    {% endif %}
>
    {% assign product = all_products[block.settings.piper-hero-main-product] %}
    <div class="hero-overlay">
        <div class="hero-content">
            {% comment %} Breadcrumb {% endcomment %}
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/products">Products</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{{ canonical_url }}">{{ product.title }}</a>
                </li>
            </ul>
            
            <div class="product-content">
                <div class="info">
                    {% comment %} Header {% endcomment %}
                    <h1>{{ product.title }}</h1>
        
                    {% comment %} Price {% endcomment %}
                    <div class="price">
                        {% if product.compare_at_price_max > 0 %}
                        <span><strike>{{ product.compare_at_price_max | money }}</strike></span>    
                        {% endif %}
                        <span>{{ product.price | money }}</span>
                    </div>
        
                    {% comment %} In Stock/Chip {% endcomment %}
                    {% if product.available %}
                    <span class="chip">In Stock</span>    
                    {% else %}
                    <span class="chip">Out of Stock</span>
                    {% endif %}

                    <div class="image-main show-sm">
                        <div class="image">
                            <img src="{{ product.featured_image | img_url: '500x' }}" alt="">
                        </div>
                    </div>
                    
        
                    {% comment %} Description {% endcomment %}
                    <p>{{ block.settings.piper-hero-main-description }}</p>
        
                    {% comment %} Add To Cart {% endcomment %}
                    <form method="post" action="/cart/add">
                        <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
                        <input type="submit" value="Add To Cart" class="btn btn-lg orange" {% unless product.available %}disabled="true"{% endunless %}/>
                    </form>
                </div>
                 
                <div class="image-main hide-sm">
                    <div class="image">
                        <img src="{{ product.featured_image | img_url: '500x' }}" alt="">
                    </div>
                </div>
    
            </div>
    
            {% comment %} Page Navigation {% endcomment %}
            <div class="product-nav">
                {% assign hero_nav_links = block.settings.hero-nav-links | split: ', ' %}
                {% for link in hero_nav_links %}
                    <a href="#section-{{ forloop.index }}" class="link">
                        {{ link }}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
    {% assign product = nil %}
</div>