<div 
    {% if block.settings.product-hero-background and block.settings.product-hero-bg-type %}
        class="product-hero-main"
        style="background-image: url({{ block.settings.product-hero-background | img_url: '900x', format: 'pjpg' }});"
    {% else %}
        class="product-hero-main {{ block.settings.product-hero-bg-type }}"
    {% endif %}
>
    <div class="hero-overlay">
        <div class="hero-content">
            {% comment %} Breadcrumb {% endcomment %}
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/products">Products</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{{ canonical_url }}">{{ product.title }}</a>
                </li>
            </ul>
            
            <div class="product-content">
                <div class="info">
                    {% comment %} Header {% endcomment %}
                    <h1>
                        <a class="product-link" href="{{ product.url }}">
                            {{ product.title }}
                        </a>
                    </h1>
        
                    {% comment %} Price {% endcomment %}
                    <div class="price">
                        {% if product.compare_at_price_max > 0 %}
                        <span><strike>{{ product.compare_at_price_max | money }}</strike></span>    
                        {% endif %}
                        <span>{{ product.price | money }}</span>
                    </div>
        
                    {% comment %} In Stock/Chip {% endcomment %}
                    {% if product.available %}
                    <span class="chip">In Stock</span>    
                    {% else %}
                    <span class="chip">Out of Stock</span>
                    {% endif %}

                    <div class="image-main">
                        <div class="image">
                            <img src="{{ product.featured_image | img_url: '300x' }}" alt="">
                        </div>
                    </div>
                    
        
                    {% comment %} Description {% endcomment %}
                    <p>{{ product.description }}</p>
        
                    {% comment %} Add To Cart {% endcomment %}
                    <form class="{{ block.settings.product-hero-show-cta }}" method="post" action="/cart/add">
                        <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
                        <input type="submit" value="ADD TO CART" class="btn btn-lg orange" {% unless product.available %}disabled="true"{% endunless %}/>
                    </form>
                </div>
                 
                <div class="image-main">
                    <div class="image">
                        <img src="{{ product.featured_image | img_url: '500x' }}" alt="">
                    </div>
                </div>
    
            </div>
        </div>
    </div>
</div>