<div class="related-products">
    {% assign collection = collections[block.settings.related-products-collection] %}
    <div class="content">
        <h2>{{ block.settings.related-products-title }}</h2>

        {% assign item-count = block.settings.related-products-item-count | minus: 1 %}

        {% for i in (0..item-count) %}
            {% assign item = collection.products[i] %}

            {% if item.handle != product.handle %}    
            <div class="card">
                <div class="card-content">
                    
                    <div class="image">
                        <a href="{{ item.url }}">
                            <img src="{{ item.images[0] | img_url: '200x' }}" alt="">
                        </a>
                    </div>

                    <div class="details">
                        <a href="{{ item.url }}">
                            <h5>{{ item.title }}</h5>
                        </a>
                        
                        
                        <h5>{{ item.price | money }}</h5>
                        {% if item.compare_at_price_max > 0 %}
                        <h6>
                            <strike> {{ item.compare_at_price_max | money }}</strike>
                        </h6>
                        {% endif %}
    
                        <p class="desc">{{ item.description | strip_html | truncatewords: 15 }}</p>
                        
                        <form class="view-link" method="post" action="/cart/add">
                            <strong>
                                <div class="form-group">
                                    <input type="hidden" name="id" value="{{item.variants.first.id}}">
                                    <input type="submit" value="ADD TO CART" class="btn btn-lg orange">
                                </div>
                            </strong>
                        </form>
                    </div>
                    
                </div>
            </div>
            {% endif %}
            
        {% endfor %}

    </div>
</div>