<div class="social-feed"
    {% if block.settings.social-feed-bg %}
    style="background-image: url({{ block.settings.social-feed-bg | img_url: '900x', format: 'pjpg' }});"
    {% endif %}
    >
    <div class="overlay {{ block.settings.social-feed-color }}">
        <div class="content">
            <h1>{{ block.settings.social-feed-title }}</h1>
            <h4>{{ block.settings.social-feed-subtitle }}</h4>
            <div class="carousel-container">

                {%- comment -%} BEGIN CAROUSEL {%- endcomment -%}

                <div class="carousel">
                    {% for i in (1..5) %}
                        {% assign tweetSelector = "social-feed-tweet-" | append: forloop.index %}
                        {% assign tweet = block.settings[tweetSelector] %}


                        {% if tweet != "" %}
                            <div class="slide">
                                <div class="draggable-overlay"></div>
                                {{ tweet }}
                            </div>
                        {% endif %}

                        {% assign tweetSelector = nil %}
                        {% assign tweet = nil %}

                    {% endfor %}
                </div>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

                {%- comment -%} END CAROUSEL {%- endcomment -%}
                
                {% comment %}
                <div class="carousel-controls">
                    <div class="control prev">
                        <i class="icon icon-arrow-left"></i>
                    </div>
                    <div class="control next">
                        <i class="icon icon-arrow-right"></i>
                    </div>
                </div>
                {% endcomment %}

                <div class="carousel-nav">
                    {% for i in (1..5) %}
                    <div class="carousel-nav-button"></div>
                    {% endfor %}
                </div>
            </div>


            {% if block.settings.social-feed-enable-ambassadors %}
                
                <div class="divider"></div>

                <div class="ambassador-container">
                    <h1>{{ block.settings.social-feed-ambassadors-title }}</h1>

                    {% for i in (1..3) %}
                        {% assign testimonial = "social-feed-testimonial-" | append: forloop.index %}
                        {% assign author = "social-feed-author-" | append: forloop.index %}
                        {% assign position = "social-feed-position-" | append: forloop.index %}
                        <div class="ambassador">
                            <!-- <div class="profile">
                                <img src="{{ 'amazon-5-stars.png' | asset_img_url: '150x' }}" alt="">
                            </div> -->
                            <p class="testimonial">{{ block.settings[testimonial] }}</p>
                            <h5>{{ block.settings[author] }}</h5>
                            <p class="position"><strong>{{ block.settings[position] }}</strong></p>
                            {% comment %} <p class="company">Cabello Elementary School</p> {% endcomment %}
                        </div>
                    {% endfor %}

                </div>
                
            {% endif %}

        </div>
    </div>

    <script src="{{ 'social-feed.js' | asset_url }}" defer="defer"></script>
</div>