<div class="video-section {{ block.settings.video-color }}">
    <div class="content">
        <h2>{{ block.settings.video_title }}</h2>
        <div class="video-container" style="background: center no-repeat url({{'demo-video-section-bg.png' | asset_url }}); background-size: cover;">
            <div class="play-button">
                <img src="{{ 'demo-play-button.png' | asset_url }}" alt="">
            </div>
        </div>
        <p>{{ block.settings.video_desc }}</p>
    </div>
    
</div>