<div class="banner-detail" data-section-id="{{ section.id }}">
    <div class="banner-container">
        <div class="banner-content">
            <div class="banner-description">
                <h1>Break away from phones and tablets</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut</p>
            </div>
            <div class="banner-decoration variation-1">
                <div>
                    <img src="{{ 'demo-screwdriver.png' | asset_url }}" alt="">
                </div>
                
                <div>
                    <img src="{{ 'demo-piece.png' | asset_url }}" alt="">
                </div>
                
                <div>
                    <img src="{{ 'demo-button-piece.png' | asset_url }}" alt="">
                </div>
                
            </div>

        </div>

        <div class="banner-image" style="background: center no-repeat url({{ 'demo-hands-on.jpg' | asset_url }}); background-size: cover; ">
            
        </div>
    </div>
</div>