<div class="footer" data-section-id="{{ section.id }}">
    <div class="content">
        <!-- Logo, links -->
        <div class="sitemap">
            <!-- brand -->
            <div class="brand">
                <img src="{{ 'piper-logo-wires.svg' | asset_url }}" alt="Piper Wires Logo">
                <h5>Kids can build anything.<br>We can help teach them that.</h5>
            </div>

            <!-- nav links -->
            <div class="links">
                {% for i in (1..4) %}
                    {% assign list-title = "footer-list-title-" | append: forloop.index %}
                    {% assign link-list = "footer-link-list-" | append: forloop.index %}

                    {% if section.settings[list-title] != blank and section.settings[link-list] != blank %}
                        <div class="group">
                            <p>{{ section.settings[list-title] }}</p>

                            {% assign list = linklists[section.settings[link-list]] %}

                            {% for link in list.links %}
                                <div class="link">
                                    <a href="{{ link.url }}">{{ link.title }}</a>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}

                {% endfor %}
            </div>

        </div>

        <!-- Social Links/Email Entry -->
        <div class="social">
            <div class="social-content">
                <h5>Win a Piper Computer Kit!</h5>
                <div class="input-group">
                    <input type="text" class="form-input input" placeholder="email">
                    <button class="btn orange input-group-btn">Submit</button>
                </div>

                <div class="links">
                    <a href="#">
                        {% include 'icon-facebook' %}
                    </a>
                    <a href="#">
                        {% include 'icon-twitter' %}
                    </a>
                    <a href="#">
                        {% include 'icon-instagram' %}
                    </a>
                    <a href="#">
                        {% include 'icon-youtube' %}
                    </a>
                </div>

            </div>
        </div>
    </div>

    

    <!-- Copyright, disclaimer -->
    <div class="notes">
        <div class="divider"></div>
        <p>Copyright © 2018 Piper Inc. All rights reserved.</p>
        <p>{{ section.settings.footer-legal-note }}</p>
    </div>
</div>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "text",
        "id": "footer-list-title-1",
        "label": "List Title 1",
        "placeholder": "Company"
      },
      {
        "type": "link_list",
        "id": "footer-link-list-1",
        "label": "Link List 1"
      },
      {
        "type": "text",
        "id": "footer-list-title-2",
        "label": "List Title 2",
        "placeholder": "Support"
      },
      {
        "type": "link_list",
        "id": "footer-link-list-2",
        "label": "Link List 2"
      },
      {
        "type": "text",
        "id": "footer-list-title-3",
        "label": "List Title 3",
        "placeholder": "Educators"
      },
      {
        "type": "link_list",
        "id": "footer-link-list-3",
        "label": "Link List 3"
      },
      {
        "type": "text",
        "id": "footer-list-title-4",
        "label": "List Title 4",
        "placeholder": "Legal"
      },
      {
        "type": "link_list",
        "id": "footer-link-list-4",
        "label": "Link List 4"
      },
      {
        "type": "textarea",
        "id": "footer-legal-note",
        "label": "Footer Legal Note(s)",
        "placeholder": "Not official Minecraft product."
      }

    ]
  }
{% endschema %}