<div class="footer" data-section-id="{{ section.id }}">
    <div class="content">
        <!-- Logo, links -->
        <div class="sitemap">
            <!-- brand -->
            <div class="brand">
                <img src="{{ 'piper-logo-wires.svg' | asset_url }}" alt="Piper Wires Logo">
                <h5>Making STEAM connections<br>physically and mentally.</h5>
            </div>

            <!-- nav links -->
            <div class="links">
                {% for i in (1..4) %}
                    {% assign list-title = "footer-list-title-" | append: forloop.index %}
                    {% assign link-list = "footer-link-list-" | append: forloop.index %}

                    {% if section.settings[list-title] != blank and section.settings[link-list] != blank %}
                        <div class="group">
                            <p>{{ section.settings[list-title] }}</p>

                            {% assign list = linklists[section.settings[link-list]] %}

                            {% for link in list.links %}
                                <div class="link">
                                    <a href="{{ link.url }}">{{ link.title }}</a>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}

                {% endfor %}
            </div>

        </div>

        <!-- Social Links/Email Entry -->
        <div class="social">
            <div class="social-content">
                <h5>Connect with us as we inspire students around the world.</h5>
                <!-- Begin MailChimp Signup Form -->
                    <div data-id="mc_embed_signup" data-component=".footer">
                        <form action="https://playpiper.us10.list-manage.com/subscribe/post?u=74efc78f5ca464657a150638f&amp;id=60b0eb1bf1"
                            method="post" 
                            id="mc-embedded-subscribe-form"
                            name="mc-embedded-subscribe-form"
                            class="validate"
                            target="_blank"
                            novalidate
                        >
                            <div data-id="mc_embed_signup_scroll">
                            
                                <div class="input-group">
                                    <input type="email" value="" name="EMAIL" class="form-input input" data-id="mce-EMAIL" placeholder="email">
                                
                                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                    <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                        <input type="text" name="b_74efc78f5ca464657a150638f_60b0eb1bf1" tabindex="-1" value="">
                                    </div>
                                    
                                    <input type="submit" value="SUBSCRIBE" name="subscribe" data-id="mc-embedded-subscribe" class="btn orange input-group-btn">
                                </div>

                                <div id="mce-responses" class="clear">
                                    <div class="response" data-id="mce-response"></div>
                                </div>

                            </div>
                        </form>
                    </div>

                <!--End mc_embed_signup-->

                <div class="links">
                    <a href="https://www.facebook.com/StartWithPiper/">
                        {% include 'icon-facebook' %}
                    </a>
                    <a href="https://twitter.com/startwithpiper">
                        {% include 'icon-twitter' %}
                    </a>
                    <a href="https://www.instagram.com/startwithpiper/">
                        {% include 'icon-instagram' %}
                    </a>
                    <a href="https://www.youtube.com/channel/UCZ-NkQvwpQ9EYuIdksn7gsQ">
                        {% include 'icon-youtube' %}
                    </a>
                </div>

                <div class="links">
                    {% if section.settings.footer-badge-img-1 %}
                    <a href="https://www.stem.org/services/credentialing.html#products">
                        <img src="{{ section.settings.footer-badge-img-1 | img_url: '150x' }}" alt="">
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    

    <!-- Copyright, disclaimer -->
    <div class="notes">
        <div class="divider"></div>
        <p>Copyright © 2019 Piper Inc. All rights reserved.</p>
        <p>{{ section.settings.footer-legal-note }}</p>
    </div>
</div>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "text",
        "id": "footer-list-title-1",
        "label": "List Title 1",
        "placeholder": "Company"
      },
      {
        "type": "link_list",
        "id": "footer-link-list-1",
        "label": "Link List 1"
      },
      {
        "type": "text",
        "id": "footer-list-title-2",
        "label": "List Title 2",
        "placeholder": "Support"
      },
      {
        "type": "link_list",
        "id": "footer-link-list-2",
        "label": "Link List 2"
      },
      {
        "type": "text",
        "id": "footer-list-title-3",
        "label": "List Title 3",
        "placeholder": "Educators"
      },
      {
        "type": "link_list",
        "id": "footer-link-list-3",
        "label": "Link List 3"
      },
      {
        "type": "text",
        "id": "footer-list-title-4",
        "label": "List Title 4",
        "placeholder": "Legal"
      },
      {
        "type": "link_list",
        "id": "footer-link-list-4",
        "label": "Link List 4"
      },
      {
        "type": "textarea",
        "id": "footer-legal-note",
        "label": "Footer Legal Note(s)",
        "placeholder": "Not official Minecraft product."
      },
      {
        "type": "image_picker",
        "id": "footer-badge-img-1",
        "label": "Footer Badge 1"
      }

    ]
  }
{% endschema %}